@{
    ViewBag.Title = "View1";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Best Store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Mail Us :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-state=1" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css" />
    <script src="js/jquery-1.1.1.min.js"></script>
    <script src="js/bootsrap.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Best Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/abc/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/abc/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="~/abc/js/jquery.min.js"></script>
    <!-- //js -->
    <!-- cart -->
    <script src="~/abc/js/simpleCart.min.js"> </script>
    <!-- cart -->
    <link rel="stylesheet" type="text/css" href="~/abc/css/jquery-ui.css">
    <!-- for bootstrap working -->
    <script type="text/javascript" src="~/abc/js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- animation-effect -->
    <link href="~/abc/css/animate.min.css" rel="stylesheet">
    <script src="~/abc/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!-- //animation-effect -->
    <style>
        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: #696969;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 25px;
            padding: 10px;
            width: 150px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }
    </style>
</head>

<body>
    <!-- header -->
    <div class="header">
        <div class="container">
            <div class="header-grid">
                <div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                    <ul>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">example.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 <span>567</span> 892</li>
                        <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="~/My/login">Login</a></li>
                        <li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="~/My/register">Register</a></li>
                    </ul>
                </div>
            </div>
            <div class="logo-nav">
                <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
                    <h1><a href="~/My/adm">Buyit <span>Shop anywhere</span></a></h1>
                </div>
                <div class="logo-nav-left1">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header nav_2">
                            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="~/My/adm" class="act">Home</a></li>
                                <!-- Mega Menu -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
                                    <ul class="dropdown-menu multi-column">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <ul class="multi-column-dropdown">
                                                    <h6>Categories</h6>
                                                    <li><a href="@Url.Action("searchresult2", "My", new { s = "Clothing" })">Clothing</a></li>
                                                    <li><a href="@Url.Action("searchresult2", "My", new { s = "Electronics" })">Electronics</a></li>
                                                    <li><a href="@Url.Action("searchresult2", "My", new { s = "Vehicle" })">Vehicle</a></li>
                                                    <li><a href="@Url.Action("searchresult2", "My", new { s = "Furniture" })">Furniture</a></li>
                                                    <li><a href="@Url.Action("searchresult2", "My", new { s = "Others" })">Others</a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                                <li><a href="~/My/register">SignUp</a></li>
                                <li><a href="~/My/login">Login</a></li>
                                <li><a href="mail.html">Mail Us</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="logo-nav-right">
                    <div class="search-box">
                        <div id="sb-search" class="sb-search">
                            <form action="~/My/searchresult" method="get">
                                <input class="sb-search-input" name="s" placeholder="Enter your search term..." type="search" id="search">
                                <input class="sb-search-submit" type="submit" value="">
                                <span class="sb-icon-search"> </span>
                            </form>
                        </div>
                    </div>
                    <!-- search-scripts -->
                    <script src="~/abc/js/classie.js"></script>
                    <script src="~/abc/js/uisearch.js"></script>
                    <script>
                        new UISearch(document.getElementById('sb-search'));
                    </script>
                    <!-- //search-scripts -->
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //header -->


    <div class="container">
        @foreach (var s in Model)
        {

            <div class="single-right-left simpleCart_shelfItem animated wow slideInRight" data-wow-delay=".5s">
                <a href="" style="float: left;">
                    <img src="~/Uploads/@s.imgname" alt="HTML tutorial" style="text-align: center; padding: 0px; margin:10px 10px 10px 0px; width: 600px ; height:500px">
                </a>
                <h3>@s.title</h3>
                <h4><span class="item_price">@s.nowprice  Rupees</span></h4>
                <b>                        Posted by <a> @s.email<br></a></b>
                <b>Posted at @s.time</b>
                <div class="description">
                    <h5><i>Description</i></h5>
                    <p>
                        @s.description
                    </p>
                </div>
                <b>Bidding is on till @s.duration</b>
                <form action="@Url.Action("bidnow", "My", new { title = @s.title })" method="post">

                    <input style="width:15%;" name="p" placeholder="More than @s.stprice" type="text" id="fname" required>
                    <button class="button" type="submit" style="vertical-align:middle"><span>Bid Now</span></button><br>
                </form>
                <button class="button" style="vertical-align:middle"><span>Buy Now </span></button><br>
            </div>
        }

    </div>



    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-6 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
                    <h3>About Us</h3>
                    <p><span>
                        Hey guys ..
                        I am a Student of BSCS at Pucit and
                        i have made this site as a project of course "EAD".
                        </span>
                    </p>
                </div>
                <div class="col-md-6 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
                    <h3>Contact Info</h3>
                    <ul>
                        <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Punjab University <span>Lahore City.</span></li>
                        <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">sherazhafeez350@gmail.com</a></li>
                        <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>03064740350</li>
                    </ul>
                </div>

            </div>
            <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
                <h2><a href="index.html">Best Store <span>shop anywhere</span></a></h2>
            </div>

        </div>
    </div>
    <!-- //footer -->
</body>
</html>